{% extends 'base.html' %}

{% block title_name %}
    Список заказов
{% endblock %}

{% block content %}
    <table class="table">
  <thead class="table-dark">
    <tr>
      <th style="text-align: center" scope="col">ID заказа</th>
      <th style="text-align: center" scope="col">ФИО заказчика</th>
      <th style="text-align: center" scope="col">Адрес</th>
      <th style="text-align: center" scope="col">Способ доставки</th>
      <th style="text-align: center" class="col-6">Товар</th>
    </tr>
  </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <th scope="row">{{ object.pk }}</th>
                <td><a href="{{ object.get_absolute_url }}">{{ object.FIO_customer }}</a></td>
                <td>{{ object.delivery_address }}</td>
                <td>{{ object.get_delivery_type_display }}</td>
                <td>
                    {% for book in object.books.all %}
                    	{{ book.name }}<br>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block additional_content %}
    {% if perms.magazine.add_order %}
        <a class="btn btn-primary" href="{% url 'order_create' %}">Создать заказ</a>
    {% endif %}
{% endblock %}