{% extends 'base.html' %}
{% load static %}


{% block title_name %}
	Удаление: {{ object.pk }}
{% endblock %}

{% block content %}
	<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h1 style="text-align: center">Вы действительно хотите удалить заказ: {{ object.pk }}</h1>
    <h4 style="text-align: center">
        {{ object.FIO_customer }}
    </h4>
        <div style="text-align: center">
            <button type="submit" class="btn btn-danger  gap-2 d-md col-3">Да</button><br>
        </div>
    </form>
{% endblock %}


{% block additional_content %}
    <br>
    <div style="text-align: center">
        <a class="btn btn-outline-primary gap-2 d-md col-3 " href="{% url 'order_list' %}">Назад</a>
    </div>
{% endblock %}