{% extends 'base.html' %}
{% block title_name %}
    Заказ: {{ object.pk }}
{% endblock %}

{% block content %}
    <br>
    <h2 style="text-align: center">{{ object.FIO_customer }}: заказ №{{ object.pk}}</h2><br>
    <table class="table">
          <thead class="table-dark">
            <tr>
              <th style="text-align: center" scope="col">Адрес</th>
              <th style="text-align: center" scope="col">Способ доставки</th>
              <th style="text-align: center" class="col-4">Товар</th>
              <th style="text-align: center" class="col">Цена</th>
              <th style="text-align: center" class="col-">Кол-во</th>
              <th style="text-align: center" class="col">Скидка</th>
            </tr>
          </thead>
        <tbody>
            <tr>
                <th style="text-align: center">{{ object.delivery_address }}</th>
                <td style="text-align: center">{{ object.get_delivery_type_display}}</td>
                <td>
                   {% for pos_product in object.pos_order_set.all %}
                        {{ pos_product.product.name }}<br>

                    {% endfor %}
                </td>
               <td>
                   {% for pos_product in object.pos_order_set.all %}
                        {{ pos_product.product.price }} руб<br>
                    {% endfor %}
                </td>
                <td>
                   {% for pos_product in object.pos_order_set.all %}
                        {{ pos_product.count }} шт<br>
                    {% endfor %}
                </td>
                <td>
                   {% for pos_product in object.pos_order_set.all %}
                        {{ pos_product.discount }} %<br>
                    {% endfor %}
                </td>
            </tr>

        </tbody>
    </table>
{% endblock %}

{% block additional_content %}
    <a class="btn btn-success" href="{% url 'order_list' %}">Вернуться к списку заказов</a>

    {% if perms.magazine.change_order %}
        <a class="btn btn-warning" href="{% url 'order_view_update' object.pk %}">Изменить</a>
    {% endif %}

    {% if perms.magazine.delete_order %}
        <a class="btn btn-danger" href="{% url 'order_view_delete' object.pk %}">Удалить</a>
    {% endif %}
{% endblock %}